body {
    
margin: 0;

padding: 0;
 
font-size: 16px;

font-family: "PT Sans",
sans-serif;
}



.paginator {

float:left; 
clear:both;   
width: 280px;
   
padding: 10px, 0px;
  
  margin: 30px auto;
   
 white-space: nowrap;
   
 background: #ecf0f1;
}



.paginator a,

.paginator span {
    
height:40px;
    
min-width: 20px;
   
 padding: 10px, 0px;
   
background: #ecf0f1;
   
 display: inline-block;
 
   background: #95a5a6;
   
 padding: 0px 10px 0px 10px;
}

#tt {position:absolute; display:block;
	padding:10px;
	border:solid #089dcb;
	border-width:1px;
	border-radius:10px 10px 10px 0px;
	-webkit-border-radius:10px 10px 10px 0px;
	-moz-border-radius:10px 10px 10px 0px;
	-webkit-box-shadow:1px 1px 2px #888888;
	-moz-box-shadow:1px 1px 2px #888888;
	box-shadow:1px 1px 2px #888888;
	background-color:#ffD;
}
.hlp1 {	color:#000;border:#9fbddd 1px solid;background-color:#E7F5FE;
	cursor:help;margin-left:5px;line-height:14px;
	width:12px;display:inline-block;text-align:center;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	font-weight:100;
	text-indent:0;
}

.main-menu {
   
 margin: 5px;

width: 300px;  
  padding: 10px 15px;
   
 list-style: none;
 
   border: 1px solid #E5E5E5;
   
 background: #f5f5f5;
}



.main-menu li {
   
 display:inline
}



ul.ul-treefree { padding-left:25px;float:left;  }
ul.ul-treefree ul { margin:0; padding-left:6px;}
ul.ul-treefree li { position:relative; list-style:none outside none; border-left:solid 1px #999; margin:0; padding:0 0 0 19px; line-height:23px; }
ul.ul-treefree li:before { content:''; display:block; border-bottom:solid 1px #999; position:absolute; width:18px; height:11px; left:0; top:0; }
ul.ul-treefree li:last-child { border-left:0 none; }
ul.ul-treefree li:last-child:before { border-left:solid 1px #999; }
ul.ul-dropfree div.drop {
float:left;
width:11px;
height:11px;
position:absolute;
z-index:10;
top:6px;
left:-6px;
background-position:-11px 0;
background-repeat:no-repeat;
cursor:pointer;
}